:root {
    --blue: #0e76c4;
    --dark-gray: #666666;
    --black: black;
    --red: #cc2c53;
    --green: #228b22;
    --error-bg: #fdf6f5;

    --font-18: 1.125rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h2, h3, h4, h5 {
    margin: 0
}

img {
  width: 100%;
}
